body {
    background-color:white;
    font-size:15px;
    font-family: 'fonttwo';
    color:black;
}
body,
html { overflow-x: hidden; }

.bar {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding: 25px 0;

  background-color: black;
  color: white;

  font-family: 'fonttwo'

}

.bar_content {
  display: block; 
  width: 100%;
  transform: translateX(100%); 
  animation: move 30s linear infinite 
}

@keyframes move {
  to { transform: translateX(-100%); }
}

div.small {
    font-size:20px;
    text-align:right;
    color:white;
    font-family:'fonttwo';
    font-style:italic;
    background-color:black;
}

@font-face {
    font-family:'fontone';
    src:url('Zara-Oblique.woff') format('woff');
}

@font-face {
    font-family:'fonttwo';
    src:url('Avara-italic.woff') format('woff');
}

div.poster {
    background-color:white;
    width:20%;
    border-radius:800px;
    margin-left:auto;
    margin-right:100px;
}

div.text {
    font-size:70px;
    text-align:center;
    color:black;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition:0.01s;
}

/* rule 1 */

div.text.one {
    font-size:10px;
}

div.text.two {
    font-size:30px;
}

div.text.three {
    font-size:20px;
}

/* rule 2 */

div.text.a {
    text-align:left;
}

div.text.b {
    text-align:right;
}

div.text.c {
    text-align:center;
}

/* rule 3 */

div.text.x {
    font-family:'fontone';
}

div.text.y {
    font-family: 'fonttwo';
}

div.text.z {
    font-family:Arial, Helvetica, sans-serif;
}

