body {
    background-color:white;
}

div.poster {
    background-color:white;
    width:75%;
    border-radius:800px;
    margin-left:200px;
}

div.text {
    font-size:70px;
    text-align:center;
    color:lightpink;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition:0.5s;
}

/* rule 1 */

div.text.one {
    font-size:10px;
}

div.text.two {
    font-size:20px;
}

div.text.three {
    font-size:30px;
}

/* rule 2 */

div.text.a {
    color:black;
}

div.text.b {
    color:black;
}

div.text.c {
    color:black;
}

/* rule 3 */

div.text.x {
    font-weight:200;
}

div.text.y {
    font-weight:200;
}

div.text.z {
    font-weight:200;
}

div.small {
    font-size:20px;
    text-align:center;
    color:violet;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:italic;

}

/* boxshadow */
div.boxshadow {
    margin-left:100px;
    background-color:white;
    border: 1px solid black;
    height: 68s0px;
    width: 360px;
    box-shadow:30px 30px 40px 3px black;
}

/* gradient */
div.gradient {
    height: 100px;
    background: linear-gradient(to right, red, blue, green);
    margin-bottom: 20px;
    margin-left:400px;
}