body {
    background-color:chartreuse;
}

@font-face {
    font-family:'font one';
    src:url('Perfect-Regular.woff') format('woff');
}

@font-face {
    font-family:'font two';
    src:url('Tiltortion.woff') format('woff');
}

@font-face {
    font-family:'font three';
    src:url('Garamondt-Italic.woff') format('woff');
}

@font-face {
    font-family:'font four';
    src:url('PicNic-Regular.woff') format('woff')
}

div.poster {
    background-color:white;
    margin-left:400px;
    margin-right:400px;
    height:650px;
}

div.text {
    font-size:50px;
    text-align:center;
    margin-left:100px;
    margin-right:100px;
    color:lightpink;
    font-family:'font three';
    transition:0.5s;
}

/* rule 1 */

div.text.one {
    text-transform:lowercase; 
}

div.text.two {
    text-transform:uppercase;
}

div.text.three {
    text-transform:inherit;
}

/* rule 2 */

div.text.a {
    font-weight:400px;
}

div.text.b {
    font-weight:700px;
}

div.text.c {
    font-size:40px;
}

/* rule 3 */

div.text.x {
    font-family:'font one';
}

div.text.y {
    text-shadow: 0 1px 0 rgb(255, 239, 239),
    0 2px 0 #ffd5d5,
    0 3px 0 rgb(252, 189, 189),
    0 4px 0 #fca8a8,
    0 5px 0 rgb(252, 145, 145),
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

div.text.z {
    font-size:50px;
}
    

div.small {
    font-size:30px;
    text-align:center;
    color:white;
    font-family:'font two';
}

div.unter {
    font-family:'font two';
    font-size:30px;
    color:white;
    text-align:center;
}