body {
    background-color:white;
}

div.poster {
    width:100%;
  
}

div.text {
    font-size:30px;
    text-align:center;
    color:black;
    font-family:'font-four';
    transition:0.5s;
}

@font-face {
    font-family:'font-three';
    src:url('Des Malers Fraktur.woff') format('woff');
}

@font-face {
    font-family:'font-four';
    src:url('dream orphans bd.woff') format('woff');
}

div.container {
    display:flex;
    flex-wrap:wrap;
}

div.col {
    box-sizing:border-box;
}

div.border {
    border:0.5px solid black;
    box-sizing:border-box
}

div.skew {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    background-color: black;
    transform: skew(30deg);
  }

div.font1 {
    font-size:25px;
    font-family:'font-three';
}

div.font2 {
    font-size:40px;
    font-family:'font-three';
    color:white;
}

div.small {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:15px;
    /* writing-mode: vertical-rl; */
    text-align:right;

}

div.round-three {
    margin-top:100px;
      width:350px;
      height:420px;
      animation:skew 3s infinite alternate;
      background-image:url('tree3.png');
      background-size:300px;
      border-radius:600px;
      margin-left:200px;
      box-shadow: 0px 10px 30px black;
  }

  div.round-four {
      margin-top:120px;
      width:460px;
      height:600px;
      animation:rotate 2s infinite alternate;
      background-image:url('tree1.png');
      background-size:500px;
      border-radius:600px;
      box-shadow: 0px 0px 30px black;
  }

  div.round-five {
      margin-top:160px;
      width:350px;
      height:450px;
      animation:rotation 3s infinite alternate;
      background-image:url('tree2.png');
      background-size:500px;
      border-radius:600px; 
      box-shadow: 00px 10px 30px black;
  }

  @keyframes skew {
    0% {
        transform:skew(-30deg);
    }
    100% {
        transform:skew(40deg);
    }
}

@keyframes rotate {
    0% {
        transform:rotatex(-30deg);
    }
    100% {
        transform:rotatey(-40deg);
    }
}

@keyframes rotation {
    0% {
        transform:rotatez(-50deg);
    }
    100% {
        transform:skew(-30deg);
    }
}
  

/* width */

div.w1-2 {
    width:50%;
}

div.w2-2 {
    width:100%;
}

div.w1-3 {
    width:33.33%;
}

div.w2-3 {
    width:66.66%;
}

div.w3-3 {
    width:100%;
}

div.w1-4 {
    width:25%;
}

div.w2-4 {
    width:50%;
}

div.w3-4 {
    width:75%;
}

div.w4-4 {
    width:100%;
}

div.w1-5 {
    width:20%;
}

div.w2-5 {
    width:40%;
}

div.w3-5 {
    width:60%;
}

div.w4-5 {
    width:80%;
}

div.w5-5 {
    width:100%;
}

/* rule 1 */

div.text.one {
    font-size:60px;
}

div.text.two {
    font-size:30px;
}

div.text.three {
    font-size:80px;
}

/* rule 2 */

div.text.a {
    background-image:url('spark1.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center center;
    color: transparent;
}

div.text.b {
    background-image:url('spark2.png');
    background-position: left bottom;
    color:transparent;
    background-repeat:no-repeat;
    background-size:contain;
}

div.text.c {
    background-image:url('spark3.png');
    background-repeat:no-repeat;
    background-size:contain;
}

/* rule 3 */

div.text.x {
    transform: skew(15deg);
}

div.text.y {
    transform: scale(-0.5);
}

div.text.z {
    transform: skew(-30deg);
}
