body {
    background:white;
}

@font-face {
    font-family:'font one';
    src:url('Des Malers Fraktur.woff') format('woff')
}

@font-face {
    font-family:'font two';
    src:url('Berolina.woff') format('woff')
}
div.poster {
    background-color:white;
    width:50%;
    border-radius:800px;
    margin-left:800px;
}

div.text {
    font-size:70px;
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition:0.5s;
    text-align:center;
    transition:0.8s;
}

/* rule 1 */

div.text.one {
    text-align:right;
}

div.text.two {
    text-align:left;
}

div.text.three {
    text-align:center;
}

/* rule 2 */

div.text.a {
    -webkit-text-stroke: 1px black;
}

div.text.b {
    color:white;
}

div.text.c {
    color:black;
}

/* rule 3 */

div.text.x {
    font-family:'font one';
}

div.text.y {
    font-family:'font two'
}

div.text.z {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.smallone {
    font-size:20px;
    text-align:center;
    background: rgb(255,179,179);
    background: radial-gradient(circle, rgba(255,179,179,1) 9%, rgba(255,0,0,1) 100%);
    width:8%;
    border-radius:600px;
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:italic;
    margin-left:700px;
}

div.smalltwo {
    font-size:20px;
    text-align:center;
    background: rgb(255,216,216);
    background: radial-gradient(circle, rgba(255,216,216,1) 25%, rgba(255,0,0,1) 100%);
    width:10%;
    border-radius:600px;
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:italic;
    margin-left:400px;
}

div.bubble {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(255,0,0,1) 100%);
    width:10%;
    border-radius:600px;
    color:black;
    margin-left:900px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    font-size:30px;
}

div.side {
    color:red;
    font-family:'font one';
    font-size:70px;
    margin-left:100px;
}