body {
    background-color:white;
}

div.poster {
    width:100%;
}


div.text {
    font-size:70px;
    text-align:center;
    color:black;
    font-family:'font-four';
    transition:0.5s;
}

@font-face {
    font-family:'font-three';
    src:url('Des Malers Fraktur.woff') format('woff');
}

@font-face {
    font-family:'font-four';
    src:url('dream orphans bd.woff') format('woff');
}

@font-face {
    font-family:'font-five';
    src:url('Celine Peach Sans.woff') format('woff');
}

div.container {
    display:flex;
    flex-wrap:wrap;
}

div.col {
    font-family:'font-four';
    size:70px;
    text-align:center;
}

div.border {
    box-sizing:border-box;
    background-color:black;
    color:white;
    font-size:20px;
}

div.round-container {
    display:flex;
    flex-wrap:wrap;
  }
  
  div.round-one {
    width:130px;
    height:150px;
    border-radius: 50%;
    color:white;
    text-shadow: 0 1px 0 rgb(255, 239, 239),
    0 2px 0 #d8d8d8,
    0 3px 0 rgb(173, 173, 173),
    0 4px 0 #838282,
    0 5px 0 rgb(88, 88, 88),
    0 6px 1px rgba(0,0,0,.1);
    animation:scale 2s infinite ease-in-out alternate;
    background-size:200px;
    font-family:'font-four';
    text-align: center;
    font-size:30px;
  }

  div.round-two {
    width:130px;
    height:200px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgb(114, 114, 114);
    animation:scale 2s infinite ease-in-out alternate;
  }

  @keyframes scale {
    0% {
      transform:scale(0.5);
    }
    100% {
      transform:scale(1);
    }
  }


    /* width */

div.w1-2 {
    width:50%;
}

div.w2-2 {
    width:100%;
}

div.w1-3 {
    width:33.33%;
}

div.w2-3 {
    width:66.66%;
}

div.w3-3 {
    width:100%;
}

div.w1-4 {
    width:25%;
}

div.w2-4 {
    width:50%;
}

div.w3-4 {
    width:75%;
}

div.w4-4 {
    width:100%;
}

div.w1-5 {
    width:20%;
}

div.w2-5 {
    width:40%;
}

div.w3-5 {
    width:60%;
}

div.w4-5 {
    width:80%;
}

div.w5-5 {
    width:100%;
}

/* rule 1 */

div.text.one {
    font-family:'font-three';
}

div.text.two {
    font-family:'font-four';
}

div.text.three {
    font-family:'font-five';
}

/* rule 2 */

div.text.a {
    font-style:italc;
}

div.text.b {
    font-style:normal;
}

div.text.c {
    font-style:oblique;
}

/* rule 3 */

div.text.x {
    color:white;
    text-shadow: 0 1px 0 rgb(0, 0, 0),
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

div.text.y {
    color:white;
    text-shadow: 0 1px 0 rgb(255, 239, 239),
    0 2px 0 #d8d8d8,
    0 3px 0 rgb(173, 173, 173),
    0 4px 0 #838282,
    0 5px 0 rgb(88, 88, 88),
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

div.text.z {
    color:white;
    text-shadow: 0 1px 0 rgb(255, 239, 239),
    0 2px 0 #d8d8d8,
    0 3px 0 rgb(173, 173, 173),
    0 4px 0 #838282,
    0 5px 0 rgb(88, 88, 88),
    0 6px 1px rgba(0,0,0,.1);
}